@import '../../../../sass/variables.scss';
@import '../../../../sass/mixins.scss';

.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex;
  width: 100%;
  height: 8rem;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 80%);

  .max-centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;
  }

  &__logo {
    color: $color-white;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
  }

  &__hamburger {
    position: relative;
    right: 1rem;
    width: 25px;
    height: 20px;
  }

  &__links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 4rem);
    flex-direction: column;
    padding: 4rem 0 2rem;
    background-color: $color-darker-background;
    transform: translateX(100vw);
  }

  &__links li {
    width: 100%;
    margin: 3rem 0;
    font-size: 2rem;
    text-align: center;
  }

  &__links a {
    color: $color-white;
    text-decoration: none;
  }

  &__hamburger:focus+&__links,
  &__links:focus-within {
    transform: translateX(0);
  }

  &__links li:last-child {
    order: -1;
  }

  &__search {
    width: 24px;
    height: 24px;
    margin-left: 0.5rem;
  }

  &__search-input {
    width: 25vw;
    border: 0;
    border-bottom: 2px solid $color-white;
    background-color: transparent;
    border-radius: 0;
    color: $color-white;
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    transition: width 0.2s ease-in;
  }

  &__search-input:focus {
    width: 60vw;
    outline: 0 none;
  }

  @include breakpoint(desktop) {

    &__hamburger {
      display: none;
    }

    &__links {
      display: flex;
      top: 3rem;
      right: 0;
      left: auto;
      width: fit-content;
      height: auto;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      background-color: transparent;
      transform: translateX(0);
    }

    &__links li {
      width: fit-content;
      margin: 0 1rem 0 0;
      font-size: 1rem;
      font-weight: 300;
      text-align: right;
    }

    &__links li:last-child {
      order: 0;
    }

    &__search {
      width: 2rem;
      height: 2rem;
    }

    &__search-input {
      display: none;
    }
  }
}