<div class="phamtom-block" (click)="toggleOpen()" [class.active]="isOpened"></div>
<div class="dropdown-container">
    <button class="dropdown-button" (click)="toggleOpen()"><span>{{selectedDisplay$ | async}}</span><img class="icon" [class.active]="isOpened" [src]="triangleIcon"/></button>
    <div *ngIf="isOpened" class="dropdown-box">
        <ul class="dropdown-items">
            <li class="dropdown-item" (click)="setValue(display.list)">{{display.list}}</li>
            <li class="dropdown-item" (click)="setValue(display.grid)">{{display.grid}}</li>
        </ul>
    </div>
</div>