<aside class="banner banner-top" role="doc-tip" aria-label="Speak Out" (click)="close()" *ngIf="!isClosed">
  <div class="banner__left">
    <span class="banner__hairline">{{
      "ASIDE_SPEAK_OUT.HAIRLINE" | translate
    }}</span>
    <span class="banner__title">{{ "ASIDE_SPEAK_OUT.TITLE" | translate }}</span>
  </div>
  <div class="banner__right">
    <p class="banner__text">
      {{ "ASIDE_SPEAK_OUT.DESCRIPTION" | translate }}
    </p>
  </div>
  <button class="icon-button" aria-label="close">
    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg">
      <g stroke="#000" stroke-width="2" fill="none" fill-rule="evenodd">
        <path d="M1 19L19 1M1 1l18 18" />
      </g>
    </svg>
  </button>
</aside>
